<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Wimm.GeneralSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libs"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Wimm.GeneralSetting>
      <setting name="Tpip3_IP_Address" serializeAs="String">
        <value>192.168.0.200</value>
      </setting>
      <setting name="SelectedControllerIndex" serializeAs="String">
        <value>0</value>
      </setting>
    </Wimm.GeneralSetting>
  </userSettings>
</configuration>